@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #4a90e2;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  max-width: 1100px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

.user-logged {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 100vh;
  background-color: #f2f2f2;
}

.post-list {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}

.post-item {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 7px #777;
}

.post-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.author-name {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

.post-date {
  font-size: 12px;
  color: #888;
}

.post-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post-comment {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  margin-top: 20px;
}

.post-comment p {
  margin-left: 20px;
  padding: 14px;
  font-size: 12px;
  background-color: #eee;
  border-radius: 18px;
  color: #888;
}

.post-comment span {
  color: #555;
  font-weight: bold;
}
